;; Cesena configuration file
{
    :db "/Users/dak0rn/Desktop/cesena.db"

    :security {
        :hashing-algorithm :pbkdf2+sha256

        :jwt {
            ;; Field in which the JWT is stored
            :field "cesena"

            ;; Defaults claims
            :jwt-claims {
                :iss "Cesena"
                :aud "http://localhost:3000"
            }

            ;; Encryption key
            :key "[KfX{c8l<y-,*hR+KBX{^m8DMC4Ayo|?Po!=9|!{v_I<fr)0mj>O$1C?1^98Cg)"

            ;; Time to live in seconds
            :ttl 60
        }
    }
}
