/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**
 * Cesena Stylesheet
 */

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

input {
    font-family: monospace;
    font-size: 13px;
    color: #444;
    padding: 3px 5px;
    border: #ccc 1px solid;
}

label {
    display: block;
    margin: 5px 0;
}

button {
    cursor: pointer;
    border: #ccc 1px solid;
    color: #444;
    font-size: 12px;
    background: #fff;
    border-radius: 4px;
}

button:hover {
    background: #eee;
}

.message {
    margin-bottom: 15px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}

.message.error {
    color: #f60;
    border-color: #f60;
}

.message.success {
    color: #0b0;
    border-color: #0b0;
}

.message .dismiss {
    float: right;
    text-decoration: none;
    color: #444;
}

/* Navigation layout */
#navigation {
    flex-grow: 0;
}

#navigation ul {
    list-style-type: none;
    display: flex;
}

#navigation .item {
    flex-grow: 0;
    padding-right: 10px;
}

#navigation .separator {
    flex-grow: 1;
}

h1 {
    font-size: 1.6em;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.4em;
    margin: 0.3em 0;
}

main {
    flex-grow: 1;
}

.admin-grid {
    width: 100%;
}

@media (min-width: 769px) {
    .admin-grid {
        display: flex;
    }
}

.admin-left {
    flex-grow: 1;
    padding: 0 10px;
}

.admin-right {
    width: 400px;
    flex-grow: 0;
    padding: 0 10px;
}

.user-row {
    display: flex;
    margin-bottom: 10px;
}

.user-name {
    flex-grow: 1;
}

.user-locked, .user-admin, .user-button {
    flex-grow: 0;
}

.user-button {
    padding-left: 15px;
}

.user-button form {
    display: inline-block;
}

.user-button > *,
.user-pw-form form > * {
    margin-right: 5px;
}

.pw-label-trigger {
    display: inline;
    cursor: pointer;
    color: #00f;
    text-decoration: underline;
}

.user-row input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .user-button,
input[type="checkbox"]:checked ~ .user-locked,
input[type="checkbox"]:checked ~ .user-admin {
    display: none;
}

.user-pw-form {
    display: none;
}

input[type="checkbox"]:checked ~ .user-pw-form {
    display: block;
}

.library {
    margin-top: 40px;
}

.library .book {
    margin-bottom: 20px;
    display: flex;
}

.library .title {
    flex-grow: 1;
}

.library .download {
    flex-grow: 0;
}

.library .search {
    padding: 4px 6px;
    flex-grow: 1;
}

.library .search-bar a {
    flex-grow: 0;
    display: inline-block;
    padding: 4px 5px;
}

.library .search-bar {
    margin-bottom: 20px;
    display: flex;
}
